body {
  margin: 0;
  width: 100%;
}

#upper-skirt-slider {
  background: #1A45FF 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 250px 250px;
  height: 669px;
  position: relative;

  #text {
    left: 14.5%;
    position: absolute;
    top: 14%;
    width: 25%;

    h2{
      color: #FFFFFF;
      font: normal normal bold 60px Malaga Display Sans;
      text-align: left;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font: normal normal bold 50px Malaga Display Sans;
      }
    }

    p{
      text-align: left;
      color: #FFFFFF;
    }
  }

  .item-carousel {
    height: 400px;
    position: absolute;
    top: 15%;
    width: 260px;
  }

  #lifestyle {
    left: 47.2%;
  }

  #gastro {
    left: 62.6%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      left: 73.6%;
    }
  }

  #nature {
    left: 78.1%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
  }

  .title {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    height: 130px;
    position: absolute;
    width: 100%;

    h3 {
      color: #1A45FF; 
      font: normal normal bold 48px Malaga Display Sans;
      margin-top: 15%;
      text-align: center;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font: normal normal bold 30px Malaga Display Sans;
      }
    }
  }

  .align-top {
    top: 0;
  }

  .align-bottom {
    bottom: 0;
  }

  #btn-carousel {
    bottom: 10.6%;
    height: 5vh;
    position: absolute;
    right: 16.4%;
    width: 31.8%;

    .arrow {
      color: #FFFFFF;
      font-size: 48px;
    }

    #arrow-right {
      margin: 0 2.5%;
    }

    #line {
      background-color: #FFFFFF;
      border-radius: 20px;
      height: 10px;
      position: absolute;
      top: 40%;
      margin-left: 10px;
      width: 12%;
    }

    #pointer {
      left: 40%;
      position: absolute;
      top: 29%;
      width: 64%;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        left: 55%;
      }
    }

    .point {
      background-color: #FFFFFF;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin-right: 30px;
      width: 10px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .hide-tablets {
        display: none;
      }
    }
  }
}

#player {
  height: 49vh;
  margin: 7.5% 18.7% 6.7% 18.7%;
  position: relative;
  width: 64%;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 70%;
  }

  #circle {
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      top: 8.5%;
      width: 30%;
    }
  }

  #disc {
    bottom: 1px;
    left: 8%;
    position: absolute;
    width: 37%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      bottom: 8.5%;
      left: 11.5%;
      width: 40%;
    }
  }

  h2 {
    color: #1A45FF;
    font: normal normal bold 60px Malaga Display Sans;
    left: 56%;
    position: absolute;
    text-align: left;
    top: 10%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font: normal normal bold 50px Malaga Display Sans;
      top: -14%;
    }
  }

  #description {
    color: #000000;
    font: normal normal normal 30px Malaga Display Sans;
    left: 56%;
    position: absolute;
    text-align: left;
    top: 30%;
    width: 41%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font: normal normal normal 24px Malaga Display Sans;
      top: 20%;
    }
  }

  #btns-player {
    height: 3.2vh;
    left: 56%;
    position: absolute;
    top: 80%;
    width: 22%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      top: 83%;
    }

    .btn-change {
      color: #B2B2B2;
      font-size: 20px;
      position: absolute;
      top: 25%;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 15px;
        top: 32%;
      }
    }

    #forward {
      position: absolute;
      left: 70px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        left: 50px;
      }
    }

    #btn-play {
      color: #1A45FF;
      font-size: 35px;
      position: absolute;
      left: 30px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 30px;
        left: 20px;
      }
    }

    #seek-slider {
      -webkit-appearance: none;
      background: #d3d3d347;
      background-image: linear-gradient(#808080,#808080);
      background-size: 25% 100%;
      background-repeat: no-repeat;
      border-radius: 5px;
      height: 10px;
      position: absolute;
      left: 100px;
      top: 37%;
      width: 65.85%;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        height: 8px;
        left: 70px;
        width: 55%;
      }
    }

    #seek-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 8px;
      border-radius: 5px;
      background: #1A45FF;
      cursor: pointer;
    }
  }

  #now-music {
    bottom: 7%;
    color: #000000;
    font: normal normal bold 16px Malaga Display Sans;
    height: 0.8vh;
    position: absolute;
    right: 32.4%;
    text-align: left;
    width: 1%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      bottom: 3%;
      font: normal normal bold 9px Malaga Display Sans;
      right: 31%;
    }
  }

  #total-music {
    bottom: 9%;
    color: #B2B2B2;
    font: normal normal normal 15px Malaga Display Sans;
    height: 1vh;
    position: absolute;
    right: 21.5%;
    text-align: left;
    width: 2.3%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      bottom: 5%;
      font: normal normal normal 6px Malaga Display Sans;
    }
  }

  #lottie {
    bottom: 0;
    height: 9.8vh !important;
    position: absolute;
    right: 0;
    width: 17.6% !important;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      height: 8vh !important;
      width: 20% !important;
    }
  }
}

#seasonal-videos {
  height: 51.5vh;
  margin-bottom: 3.7%;
  margin-top: 8.5%;
  position: relative;

  img {
    height: 51.5vh;
    width: 50%;
  }

  #seasonal-title-background {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: #cbcbcb33 0% 0% no-repeat padding-box;
    border-radius: 0px 76px 76px 0px;
    height: 10vh;
    position: absolute;
    right: 50%;
    top: 73%;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    width: 11%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 14%;
    }
  }
  
  
  #seasonal-title {
    color: #FFFFFF;
    font: normal normal bold 42px Malaga Display Sans; /* 36px para pantallas más pequeñas */
    position: absolute;
    right: 52%;
    text-align: right;
    top: 69%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font: normal normal bold 36px Malaga Display Sans;
      right: 50.5%;
    }
  }
  
  #blur-btn-play {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background: #cbcbcb33 0% 0% no-repeat padding-box;
    border-radius: 50%;
    height: 14vh;
    left: 46.5%;
    position: absolute;
    top: 37%;
    width: 7%;
    z-index: 1;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      border-radius: 50%;
      height: 13vh;
      left: 45%;
      top: 38.5%;
      width: 10%;
    }
  }

  #btn-play {
    color: #FFFFFF;
    font-size: 700%;
    left: 47.5%;
    position: absolute;
    top: 39%;
    z-index: 1;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 600%;
      left: 46%;
    }
  }

  #seasonal-text-background {
    background: #1A45FF 0% 0% no-repeat padding-box;
    border-radius: 0 150px 150px 0;
    height: 51.5vh;
    left: 50%;
    position: absolute;
    top: 0%;
    width: 50%;
  }

  #seasonal-text {
    color: #FFFFFF;
    display: inline-block;
    font: normal normal bold 52px Malaga Display Sans;
    left: 63%;
    position: absolute;
    text-align: left;
    top: 20%;
    width: 25%;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font: normal normal bold 42px Malaga Display Sans;
      top: 8%;
      width: 30%;
    }
  }
}

footer {
  text-align: center;

  #malaga-footer {
    height: 169px;
    padding-bottom: 70px;
  }
  
  #social-media {
    background: #1A45FF 0% 0% no-repeat padding-box;
    height: 136px;
    line-height: 136px;
  
    img {
      height: 34px;
      padding-left: 20px;
      vertical-align: middle;
      width: 34px;
    }
  }
}